---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <button>Component :)</button>
</Layout>

<style>
    
    button {
        width: 200px;
        height: 50px;
        font-size: 1em;
        background-color: red;
        border-radius: 25px;
        margin-left: 2em;
        transition: all 0.2s ease-out;
    }

    button:hover {
        font-size: 1.5em;
        scale: 1.1;
    }

</style>